<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Computers-for-kittys</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    </head>
    <body>

        {{> nav}}
        <div class="screen">            
        </div>
        {{{body}}}
        {{> footer}}
        <script type="text/javascript" src="/script.js"></script>
    </body>
</html>
